@import "tailwindcss";


:root {
  --background: #F5F5F7;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

/* Hide Mapbox Logo */
.mapboxgl-ctrl-logo {
  display: none !important;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave 2s linear infinite;
}